
.CustomersList {
    padding: 20px;
    text-align: right;
}

.customers-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between;
    gap: 16px; */
    gap: 21px;
    margin-top: 20px;
    width: 100%; /* Ensure the container takes the full width */
    padding: 0; /* Remove any padding inside the container */
    box-sizing: border-box;
}

.customer-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px 16px 8px;
    background-color: white;
    width: 265px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: right;
    position: relative;
}

.customer-card:hover {
    background-color: #f9f9f9;
}

.customer-card h3 {
    margin: 0 0 8px;
    font-size: 18px;
}

.customer-card p {
    margin: 4px 0;
    font-size: 14px;
}

.action-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

button.button-status{
    background: no-repeat;
    border: none;
    position: absolute;
    left: 3px;
    top: 3px;
    cursor: pointer;
}
button.btn-active{
    color: #3C775AFF;
}
button.btn-inactive{
    color: #F60C28FF
}
.head-list{
     display: flex;
     justify-content: space-between;
     text-align: right;
 }
.search-form button{
    margin-right: 4px;
}
.head-list button{
    height: 30px;
}
.head-list input {
    height: 26px;
}

.found-txt{
    margin-top: 20px;
    display: inline-block;
}
.wrap-load-btn{
    width: 100%;
    text-align: center;
}
.graf-link {
    cursor: pointer;
    text-decoration: underline;
    margin-left: 10px;
}
.graf-link:hover{
    color:  #274F60FF;
}
@media (max-width: 768px) {
.customer-card {
    width: 100%;
}

}